# Example env file

WEBAPIKEY=your-web-api-key
WEBAPPID=your-web-app-id
AUTHDOMAIN=your-auth-domain
MEASUREMENTID=your-measurement-id

ANDROIDAPIKEY=your-android-api-key
ANDROIDAPPID=your-android-app-id

PROJECTID=your-project-id
MESSAGINGSENDERID=your-messaging-sender-id
STORAGEBUCKET=your-storage-bucket
